/* Reset some default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #2c2c2c;
    color: #f0f0f0;
    line-height: 1.6;
    padding: 0 20px;
}

header {
    position: relative;
    background-color: #4CAF50;
    color: white;
    padding: 1.5em 0;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.header-image {
    position: absolute;
    top: 10px;
}

.header-image.left {
    left: 10px;
}

.header-image.right {
    right: 10px;
}

.header-image img {
    width: 50px; /* Ensure the width is set in pixels */
    height: auto; /* Maintain aspect ratio */
}

header h1 {
    font-size: 2.5em;
    margin-bottom: 0.2em;
}

nav ul {
    list-style-type: none;
    padding: 0;
    background-color: transparent; /* Changed background color to transparent */
    border-radius: 10px;
    display: inline-block;
    padding: 10px 20px;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.1em;
    padding: 0.5em 1.5em;
    background-color: #4CAF50; /* Green color */
    border-radius: 25px; /* Oval shape */
    transition: background-color 0.3s ease, color 0.3s ease;
    display: inline-block;
}

nav ul li a:hover {
    background-color: #45a049; /* Darker green on hover */
    color: #d4d4d4;
}

section {
    padding: 4em 1.5em 3em; /* Adjusted top padding */
    margin: 2em auto;
    max-width: 800px;
    background-color: #3a3a3a;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position
